header {
  text-align: center;
  margin-top: 100px;
  .app-title {
    text-align: center;
  }
  .app-desc {
    text-align: center;
    font-size: 24px;
  }
  .signup-login {
    font-size: 14px;
    margin: 8px;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 80px;
    height: 30px;
    background-color: lightseagreen;
    &:hover,
    &:focus {
      background-color: orange;
    }
  }
}
