.login-page {
  text-align: center;
  .static-message {
    width: 250px;
    border: 2px solid black;
    margin: 0 auto;
    padding: 8px;
    background-color: lightyellow;
  }
  .login-fields {
    text-align: center;
  }
  .field {
    list-style: none;
    padding: 8px;
    .input-field {
      margin-left: 10px;
    }
  }
  .login-button {
    font-size: 14px;
    margin: 8px;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 120px;
    height: 30px;
    background-color: lightseagreen;
    &:hover,
    &:focus {
      background-color: orange;
    }
  }
  .create-account-link {
    color: orange;
    &:hover {
      color: lightseagreen;
    }
  }
  a {
    text-decoration: none;
  }
}
