.sidebar {
  text-align: center;
  width: 30%;
  float: left;
  margin: 0;
  .full-name {
    margin: 10px;
  }
  .user-name {
    font-size: 18px;
    margin: 8px;
  }
  .profile-picture {
    width: 90%;
    height: 90%;
    margin-top: 20px;
  }

  .bio {
    width: 85%;
    margin: 30px auto;
  }
  .add-recipe {
    font-size: 14px;
    margin: 8px;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 120px;
    height: 30px;
    background-color: lightseagreen;
    &:hover,
    &:focus {
      background-color: orange;
    }
  }
}

.user-recipes {
  width: 69%;
  float: right;
  text-align: center;
  .my-recipes {
    font-size: 24px;
  }
  .thumbnails-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-evenly;
  }
}
