div {
  text-align: center;
  ul {
    text-align: center;
    li {
      list-style: none;
      padding: 8px;
      input {
        margin-left: 10px;
      }
    }
  }
  button {
    &:hover {
      background-color: orange;
    }
  }
}
